<mat-toolbar color="primary">
  <span>
    <a class="navbar-brand" routerLink="/">
      <img src="assets/lend.svg" alt="Lendsqr Logo" width="80%" />
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/register" routerLinkActive="mat-accent">Register</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/dashboard" routerLinkActive="mat-accent">Dashboard</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
