<div class="row text-center">
  <div class="col-sm-12">
    <br />
    <h3><b>Welcome to DevTest Loan System</b></h3>
    <br /><br />
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="spaceout col-md-6 col-lg-3">
      <button mat-raised-button color="accent" type="button" [routerLink]="['/login']">Login</button>
    </div>
    <div class="spaceout col-md-6 col-lg-3">
      <button mat-raised-button color="accent" type="button" [routerLink]="['/register']">Register</button>
    </div>
  </div>
</div>
